*.psd filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project/Library/Artifacts/c1/c1d779f1b165e9661ec68b80e9928ffc filter=lfs diff=lfs merge=lfs -text
MA2011[[:space:]]unity/Library/PackageCache/com.unity.sysroot.linux-x86_64@2.0.6/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
MA2011[[:space:]]unity/Packages/Exported[[:space:]]Package.unitypackage filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project[[:space:]](Abu)/Library/PackageCache/com.unity.sysroot.linux-x86_64@2.0.6/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
